.arrow {
    width: 5em;
    margin-top: 8em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    animation: MoveUpDown 2s linear infinite;
    position: relative;
}

@keyframes MoveUpDown {
    0%,
    100% {
        bottom: 0;
    }
    50% {
        bottom: 2em;
    }
}

.usa {
    height: 1.2em;
    width: auto;
}

.f1 {
    height: 1em;
    width: auto;
}

.toss {
    height: 2.75em;
    width: auto;
    margin-top: -1em;
    margin-bottom: -1em;
    margin-left: -1em;
    margin-right: -1em;
}

.blank {
    margin-top: 20em;
}

.AboutMe {
    text-align: center;
    margin-top: 5em;
    padding-top: 3em;
    font-size: 50px;
    color: #0064ff;
}

.support {
    text-align: center;
    font-size: 50px;
    color: #00ffff;
}

.support:hover {
    color: #5d3fd3;
}

.banner {
    height: 30%;
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.margin10 {
    margin-top: 10%;
}

.list {
    text-align: center;
    padding-right: 70%;
    margin-top: 15%;
    padding-top: 3em;
    font-size: 50px;
    color: white;
}

.portfolio {
    height: 50px;
    width: 50px;
    margin-left: 30%;
    padding-right: 20px;
}

.discord {
    width: auto;
}

.spec {
    font-size: 35px;
    color: white;
    text-decoration: none;
}

.account {
    height: 4em;
    margin: 30px;
    max-width: 6em;
}

.skill {
    height: 6em;
    margin: 20px;
    max-width: 6em;
}

.explain {
    text-align: left;
    margin-left: 30%;
}

.profile {
    height: 80px;
    width: 100px;
    margin-left: 300px;
    margin-bottom: 50px;
}

.version {
    text-align: center;
    padding-right: 40%;
    padding-top: 5%;
    font-size: 35px;
    color: white;
}

.release {
    padding-left: 25%;
    padding-top: 0%;
    font-size: 20px;
    color: white;
}

.img {
    width: 30%;
    height: auto;
    display: block;
    padding-left: 60%;
}

.link {
    text-decoration: none;
}

p {
    text-align: center;
    font-size: 25px;
    color: grey;
}
