nextjs-portal {
    display: none;
}

#page {
    overflow-x: hidden;
    overflow: hidden;
}

#media {
    overflow: hidden;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: white;
    position: relative;
    scroll-behavior: smooth;
}

.black {
    margin-bottom: -1em;
    font-weight: bold;
    color: black;
}

.mobile-title {
    margin: 0.75em;
    margin-left: -3em;
    margin-right: -3em;
    color: white;
}

.mobile-sub-title {
    margin-bottom: -1em;
    margin-left: -3em;
    margin-right: -3em;
    font-size: 1.5em;
    color: #ccc;
}

.join,
.join *,
.join :after,
.join :before,
.join:after,
.join:before {
    border: 0 solid;
    box-sizing: border-box;
}

.join {
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: button;
    background-color: #000;
    background-image: none;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    font-weight: 900;
    height: 4em;
    width: 12.5em;
    margin: 0;
    -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
    padding: 0;
    text-transform: uppercase;
}

.join:disabled {
    cursor: default;
}

.join:-moz-focusring {
    outline: auto;
}

.join [hidden] {
    display: none;
}

.join {
    border-radius: 99rem;
    border-width: 2px;
    overflow: hidden;
    margin-top: 1em;
    margin-bottom: 7.5em;
    padding: 0.8rem 3rem;
    position: relative;
    white-space: nowrap;
}

.sidebar-join {
    margin-left: -0.5em;
    padding: 0;
    height: 3.5em;
    width: 10em;
}

.join span {
    mix-blend-mode: difference;
    font-size: 125%;
}

.join:after,
.join:before {
    background: linear-gradient(
        90deg,
        #fff 25%,
        transparent 0,
        transparent 50%,
        #fff 0,
        #fff 75%,
        transparent 0
    );
    content: "";
    inset: 0;
    position: absolute;
    transform: translateY(var(--progress, 100%));
    transition: transform 0.2s ease;
}

.join:after {
    --progress: -100%;
    background: linear-gradient(
        90deg,
        transparent 0,
        transparent 25%,
        #fff 0,
        #fff 50%,
        transparent 0,
        transparent 75%,
        #fff 0
    );
    z-index: -1;
}

.join:hover:after,
.join:hover:before {
    --progress: 0;
}

.introduce {
    text-align: center;
    margin-top: 5em;
    font-size: 4em;
    color: white;
}

.mobile-introduce {
    text-align: center;
    margin-top: 5em;
    font-size: 3em;
    color: white;
}

.member-title {
    text-align: center;
    margin-top: 3em;
    font-size: 3.3em;
    color: black;
}

.member-subtitle {
    text-align: center;
    margin: 70px;
    margin-top: -1.25em;
    font-size: 35px;
    color: #a0a0a0;
}

.mobile-member-subtitle {
    text-align: center;
    margin-top: -1.25em;
    margin-left: -3em;
    margin-right: -3em;
    font-size: 30px;
    color: #a0a0a0;
}

.greeting {
    display: flex;
    justify-content: center;
    text-align: left;
    margin-top: -1em;
}

.mobile-greeting-container {
    text-align: center;
}

.mobile-greeting-img {
    margin-top: -5em;
    height: 30em;
    width: auto;
}

.mobile-greeting-text {
    font-size: 1.25em;
    font-weight: bold;
}

.explain {
    text-align: left;
    margin-left: 30%;
    margin-bottom: 3em;
}

.portfolio {
    height: 50px;
    width: 50px;
    margin-left: 30%;
    padding-right: 20px;
}

.mobile-success-title {
    text-align: center;
    margin: 70px;
    margin-top: 250px;
    margin-left: -3em;
    margin-right: -3em;
    font-size: 35px;
    color: #a0a0a0;
}

.margin {
    margin: 7.5em;
}

.terms-text {
    text-align: left;
    margin-left: 7.5em;
    margin-right: 7.5em;
    font-size: 20px;
    color: gray;
}

.mobile-terms-text {
    text-align: left;
    margin-left: 1.5em;
    margin-right: 1.5em;
    font-size: 20px;
    color: #c3c3c6;
}

.mobile-footer-title {
    margin: 0.5em;
    margin-left: -3em;
    margin-right: -3em;
    font-size: 2.25em;
    color: white;
}

.mobile-footer-sub-title {
    margin-left: -3em;
    margin-right: -3em;
    font-size: 1.3em;
    color: #ccc;
}

p {
    text-align: center;
    font-size: 25px;
    color: #a0a0a0;
}

.center {
    margin-top: 20em;
    text-align: center;
}

.mobile-footer-data2 {
    display: flex;
    flex-direction: column;
    margin: 50px;
    margin-bottom: 0;
}

.mobile-footer-text {
    margin-top: -3em;
    color: #a0a0a0;
    font-weight: normal;
    font-size: 17.5px;
    line-height: 1.6;
}

.mobile-footer-icon a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5em;
    width: 3.5em;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 10px;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.mobile-lawtalk-icon {
    height: 3em;
    width: 4em;
    padding-left: 0.5em;
}

.mobile-kakaotalk-icon {
    padding: 1em;
    height: 2.5em;
    width: 4em;
}

.mobile-instagram-icon {
    padding: 1em;
    height: 1.75em;
    width: 2em;
}

.mobile-youtube-icon {
    padding: 1em;
    height: 1.25em;
    width: auto;
}

.mobile-footer-copyright {
    text-align: center;
    font-size: 20px;
    color: #a0a0a0;
}
