nextjs-portal {
    display: none;
}

#page {
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    font-family: "__Inter_aaf875", "__Inter_Fallback_aaf875";
    background-color: black;
    position: relative;
    scroll-behavior: smooth;
}

.blank {
    margin-top: 1000px;
}

.header {
    height: 100vh;
    width: 100%;
    top: 0;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.header-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    filter: brightness(0.4);
}

.column-center {
    display: flex;
    align-items: center;
    column-gap: 0.5em;
}

.row-center {
    text-align: center;
}

.text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title {
    margin: 0.5em;
    font-size: 3.75em;
    color: white;
}

.mobile-title {
    margin: 0.75em;
    margin-left: -3em;
    margin-right: -3em;
    color: white;
}

.sub-title {
    margin-bottom: -1em;
    font-size: 1.25em;
    color: #ccc;
}

.mobile-sub-title {
    margin-bottom: -1em;
    margin-left: -3em;
    margin-right: -3em;
    font-size: 1.5em;
    color: #ccc;
}

.join,
.join *,
.join :after,
.join :before,
.join:after,
.join:before {
    border: 0 solid;
    box-sizing: border-box;
}

.join {
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: button;
    background-color: #000;
    background-image: none;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    font-weight: 900;
    height: 5em;
    width: 15em;
    margin: 0;
    -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
    padding: 0;
    text-transform: uppercase;
}

.join:disabled {
    cursor: default;
}

.join:-moz-focusring {
    outline: auto;
}

.join [hidden] {
    display: none;
}

.join {
    border-radius: 99rem;
    border-width: 2px;
    overflow: hidden;
    margin-top: 1em;
    margin-bottom: 7.5em;
    padding: 0.8rem 3rem;
    position: relative;
    white-space: nowrap;
}

.sidebar-join {
    margin-left: -0.5em;
    padding: 0;
    height: 3.5em;
    width: 10em;
}

.join span {
    mix-blend-mode: difference;
    font-size: 150%;
}

.join:after,
.join:before {
    background: linear-gradient(
        90deg,
        #fff 25%,
        transparent 0,
        transparent 50%,
        #fff 0,
        #fff 75%,
        transparent 0
    );
    content: "";
    inset: 0;
    position: absolute;
    transform: translateY(var(--progress, 100%));
    transition: transform 0.2s ease;
}

.join:after {
    --progress: -100%;
    background: linear-gradient(
        90deg,
        transparent 0,
        transparent 25%,
        #fff 0,
        #fff 50%,
        transparent 0,
        transparent 75%,
        #fff 0
    );
    z-index: -1;
}

.join:hover:after,
.join:hover:before {
    --progress: 0;
}

.introduce {
    text-align: center;
    margin-top: 5em;
    font-size: 4em;
    color: white;
}

.mobile-introduce {
    text-align: center;
    margin-top: 5em;
    font-size: 3em;
    color: white;
}

.member-title {
    text-align: center;
    margin-top: 3em;
    font-size: 4em;
    color: white;
}

.member-subtitle {
    text-align: center;
    margin: 70px;
    margin-top: -1.25em;
    font-size: 35px;
    color: #a0a0a0;
}

.greeting {
    display: flex;
    justify-content: center;
    text-align: left;
    margin-top: -1em;
}

.mobile-greeting-container {
    text-align: center;
}

.mobile-greeting-img {
    margin-top: -5em;
    height: 30em;
    width: auto;
}

.mobile-greeting-text {
    font-size: 1.25em;
    font-weight: bold;
}

.intro-text {
    text-align: left;
    font-size: 2em;
    font-weight: bold;
    color: #a0a0a0;
}

.container {
    display: flex;
    justify-content: center;
}

.card-container {
    display: flex;
    flex-direction: column;
    height: 4em;
    width: 12em;
    gap: 30px;
    background-color: #1c1c1c;
    box-shadow: 0px 2px 4px rbga(0, 0, 0, 0, 3);
    border-radius: 16px;
    margin: 10px;
    padding: 24px;
}

.mobile-card-container {
    height: 3.5em;
    width: 8em;
}

.member-card-container {
    height: 8.5em;
    width: 12em;
}

.donho-card-container {
    height: 10.5em;
    width: 23em;
}

.white {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.profile {
    height: 7em;
    width: 15em;
}

.no-deco {
    text-decoration: none;
}

.card-img {
    height: 50px;
    width: 50px;
}

.card-title {
    font-size: 37px;
    font-weight: bold;
    color: white;
}

.card-text {
    text-align: left;
    font-size: 22px;
    color: #a0a0a0;
}

.mobile-card-text {
    text-align: left;
    font-size: 17px;
    color: #a0a0a0;
}

.member-card-text {
    margin-top: 0.5em;
    text-align: left;
    font-size: 22px;
    color: #a0a0a0;
}

.donho-card-text {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 0.5em;
    text-align: left;
    font-size: 22px;
    color: #a0a0a0;
}

.card-footer {
    font-size: 17px;
    color: white;
}

.spec {
    font-size: 35px;
    color: white;
    text-decoration: none;
}

.spec2,
.spec3 {
    font-size: 35px;
    color: white;
    text-decoration: none;
}

.explain {
    text-align: left;
    margin-left: 30%;
    margin-bottom: 3em;
}

.portfolio {
    height: 50px;
    width: 50px;
    margin-left: 30%;
    padding-right: 20px;
}

.success-title {
    text-align: center;
    margin: 70px;
    margin-top: 250px;
    font-size: 60px;
    color: #a0a0a0;
}

.mobile-success-title {
    text-align: center;
    margin: 70px;
    margin-top: 250px;
    margin-left: -3em;
    margin-right: -3em;
    font-size: 35px;
    color: #a0a0a0;
}

.success-button {
    display: flex;
    justify-content: center;
    margin-top: -2em;
}

.margin {
    margin: 20px;
}

.learn-more {
    background: #5e5df0;
    border-radius: 999px;
    box-shadow: #5e5df0 0 10px 20px -10px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
}

.learn-more:hover {
    background-color: #0064ff;
}

.learn-more-mobile {
    height: 4em;
    width: 10em;
}

.mobile-footer-title {
    margin: 0.5em;
    margin-left: -3em;
    margin-right: -3em;
    font-size: 2.5em;
    color: white;
}

.footer-sub-title {
    margin-top: -0.5em;
    font-size: 1.75em;
    color: #ccc;
}

.mobile-footer-sub-title {
    margin-left: -3em;
    margin-right: -3em;
    font-size: 1.5em;
    color: #ccc;
}

p {
    text-align: center;
    font-size: 25px;
    color: #a0a0a0;
}

.center {
    margin-top: 20em;
    text-align: center;
}

#footer {
    margin: 0;
    background-color: #202027;
}

.footer-data {
    display: flex;
    margin: 50px;
    margin-bottom: 0;
}

.footer-data2 {
    display: flex;
    justify-content: space-between;
    margin: 50px;
    margin-bottom: 0;
}

.mobile-footer-data2 {
    display: flex;
    flex-direction: column;
    margin: 50px;
    margin-bottom: 0;
}

.footer-data a {
    color: white;
    text-decoration: none;
}

.footer-text {
    margin-top: -3em;
    color: #a0a0a0;
    font-weight: normal;
}

.footer-text div {
    font-size: 23px;
}

.mobile-footer-text {
    margin-top: -3em;
    color: #a0a0a0;
    font-weight: normal;
    line-height: 1.6;
}

.footer-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-icon a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4em;
    width: 4em;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 10px;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-icon a:hover {
    color: #24262b;
    background-color: #ffffff;
}

.footer-img {
    height: 3.5em;
    width: 3.5em;
}

.lawtalk-icon {
    height: 3em;
    width: 3em;
    margin-left: 0.5em;
}

.mobile-lawtalk-icon {
    height: 3em;
    width: 4em;
    padding-left: 0.5em;
}

.kakaotalk-icon {
    height: 3em;
    width: 3em;
}

.mobile-kakaotalk-icon {
    padding: 1em;
    height: 3em;
    width: 4em;
}

.instagram-icon {
    height: 2em;
    width: 2em;
}

.mobile-instagram-icon {
    padding: 1em;
    height: 2em;
    width: 2em;
}

.youtube-icon {
    height: 1.5em;
    width: auto;
}

.mobile-youtube-icon {
    padding: 1em;
    height: 1.5em;  
    width: auto;
}

.footer-blank {
    margin: 3em;
}

.footer-copyright {
    margin-top: 20px;
    text-align: center;
    font-size: 22.5px;
    color: #a0a0a0;
}
