.mobile-address-title {
    margin-top: 3em;
    text-align: center;
    font-size: 2.5em;
    color: #131d7d;
}

.mobile-address-subtitle {
    margin-top: -1.5em;
    text-align: center;
    font-size: 1em;
    color: #a0a0a0;
}

.mobile-map-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.mobile-map-container iframe {
    margin-top: 1em;
    height: 15em;
    width: auto;
}
