#mobile-footer {
    margin-top: -6em;
}

#mobile-footer a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 4em;
}

#mobile-footer img {
    margin-top: -2em;
    height: 3.5em;
    width: auto;
}

.mobile-footer-data {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -5em;
}

.mobile-footer-data a {
    font-size: 1.15em;
    color: black;
    text-decoration: none;
}

.mobile-footer-data div {
    margin-right: 2em;
}

.mobile-footer-data2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5em;
}

.mobile-footer-text {
    margin-top: -6.5em;
    margin-left: -1.75em;
    margin-right: -1.75em;
    margin-bottom: -4em;
    color: #a0a0a0;
}

.mobile-footer-text span {
    margin: 0.5em;
    font-size: 0.7em;
    font-weight: normal;
}

.mobile-footer-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: -3em;
}

.mobile-footer-icon a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0em;
    padding: 0em;
    height: 3.5em;
    width: 3.5em;
    background-color: rgba(255, 255, 255, 0.2);
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.mobile-footer-icon a:hover {
    color: #24262b;
    background-color: #ffffff;
}

.mobile-footer-icon img {
    height: 3.5em;
    width: auto;
}

#copyright {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3em;
    font-size: 0.8em;
    letter-spacing: 0.06em;
}

#copyright-year {
    margin-top: 0;
    font-size: 1em;
}
