#mobile-media {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    top: 0;
    bottom: 0;
    margin-bottom: -12.5em;
    position: relative;
    overflow: hidden;
}

.mobile-intro-title {
    margin-top: 7.5em;
    text-align: center;
    font-size: 1.25em;
    color: #131d7d;
}

.mobile-intro-subtitle {
    margin-bottom: 2.5em;
    text-align: center;
    font-size: 2em;
    color: black;
}

.mobile-blue {
    color: #3252ff;
}

.mobile-media-explain {
    text-align: center;
    margin-top: -3em;
    margin-bottom: 3em;
    font-size: 1.25em;
    color: black;
}

.mobile-media-bg {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100vw;
    filter: brightness(0.7);
}

.mobile-full-bright {
    filter: brightness(1);
}

.mobile-media-container {
    position: absolute;
    margin-top: 3em;
}

.margin-top {
    margin: 5em;
}

.mobile-media-title {
    margin-top: 1em;
    font-size: 3em;
    color: white;
}

.mobile-media-title2 {
    font-size: 2em;
    color: white;
}

.mobile-media-subtitle {
    margin-top: -1em;
    margin-bottom: -0.75em;
    font-size: 1em;
    line-height: 1.3;
    color: #a0a0a0;
}

.mobile-media-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2.5em;
    text-decoration: none;
}

.mobile-media-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5em;
    width: 15em;
    background-color: #d80000;
    border-radius: 10px;
}

.mobile-media-button:hover {
    background-color: #7e1e1e;
    transition: 0.2s;
}

.mobile-wide-width {
    width: 22em;
}

.mobile-wide-width p {
    margin-left: 0.25em;
}

.mobile-media-button img {
    height: 2.5em;
    width: auto;
}

.mobile-media-button p {
    font-size: 1.2em;
    font-weight: bold;
    color: white;
}

.mobile-video-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3em;
}

.mobile-video-container img {
    margin: 0.5em;
    height: 6.5em;
    width: auto;
}

.mobile-video-container a {
    text-decoration: none;
}

.mobile-video-container p {
    margin: 1em;
    margin-top: 0.5em;
    text-align: left;
    font-size: 0.75em;
    font-weight: normal;
    color: white;
}
