#works {
    width: 100%;
    top: 0;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.mobile-works-bg {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 27.5em;
    height: auto;
    width: 100vw;
    filter: brightness(1);
}

.mobile-works-component {
    position: absolute;
    margin-top: -15em;
}

.mobile-works-title {
    text-align: center;
    margin-top: 5em;
    font-size: 3.25em;
    color: #131d7d;
}

.mobile-works-subtitle {
    text-align: center;
    margin-top: -1.5em;
    font-size: 1.1em;
    color: #a0a0a0;
}

.mobile-works-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2.5em;
    text-decoration: none;
}

.mobile-works-button div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4em;
    width: 17.5em;
    background-color: #4051ff;
    border-radius: 10px;
}

.mobile-works-button div:hover {
    background-color: #131d7d;
    transition: 0.2s;
}

.mobile-works-button p {
    font-size: 1.5em;
    font-weight: bold;
    color: white;
}

.mobile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4em;
    padding-bottom: 10em;
}

.mobile-card-container {
    margin: 3em;
    height: 12em;
    width: 20em;
    background-color: #141528;
    border: 5px solid white;
}

.mobile-card-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: space-between;
    margin-top: -3em;
    height: 7em;
    width: auto;
}

.mobile-card-title {
    margin-top: 0.5em;
    text-align: center;
    font-size: 1.75em;
    font-weight: bold;
    color: white;
}

.mobile-card-text {
    margin-top: 0.75em;
    text-align: center;
    font-size: 1.1em;
    color: #a0a0a0;
}
