#consult {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 10em;
}

.consult-bg {
    height: auto;
    width: 100vw;
    filter: brightness(1);
}

.consult-container {
    position: absolute;
}

.consult-title {
    font-size: 4em;
    color: white;
}

.consult-subtitle {
    margin-top: -1.25em;
    font-size: 1.75em;
    color: #a0a0a0;
}

.consult-buttons {
    display: flex;
    justify-content: center;
}

.consult-buttons a {
    text-decoration: none;
}

.consult-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
    margin-left: 0;
    height: 7em;
    width: 30em;
    background-color: #4051ff;
    border-radius: 10px;
}

.consult-button:hover {
    background-color: #131d7d;
    transition: 0.2s;
}

.consult-button p {
    font-size: 2em;
    font-weight: bold;
    color: white;
}

.consult-button img {
    margin-left: 0.75em;
    height: 3.5em;
    width: auto;
}
