#footer {
    margin: 2em;
}

.footer-data {
    display: flex;
    flex-direction: row;
    margin: 1em;
}

.footer-data img {
    margin-right: 4em;
    height: 3em;
    width: auto;
}

.footer-data a {
    margin-top: -0.5em;
    font-size: 1.25em;
    color: black;
    text-decoration: none;
}

.footer-data div {
    margin-right: 4em;
}

.footer-data2 {
    display: flex;
    justify-content: space-between;
    margin-top: 5em;
}

.footer-text {
    margin-top: -5em;
    color: #a0a0a0;
}

.footer-text span {
    padding: 1em;
    font-weight: normal;
}

.footer-text div {
    font-size: 23px;
}

#copyright-year {
    padding: 0;
}

.footer-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-icon a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4em;
    width: 4em;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 10px;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-icon a:hover {
    color: #24262b;
    background-color: #ffffff;
}

.footer-icon img {
    height: 4em;
    width: auto;
}
