.header {
    height: 100vh;
    width: 100%;
    top: 0;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.header-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    filter: brightness(0.4);
}

.popup-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    z-index: 1;
}

.popup-container div {
    margin: 1.5em;
    margin-top: 8em;
    margin-bottom: 0em;
    padding-top: 3em;
    background-color: white;
}

.close-img {
    margin-top: 7.5em;
    padding-left: -2em;
    left: 0;
    height: 2em;
}

.popup-img {
    height: 40em;
    width: auto;
}

.column-center {
    display: flex;
    align-items: center;
    column-gap: 0.5em;
}

.text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header-icon {
    height: 3em;
    width: auto;
}

.title {
    margin: 0.5em;
    font-size: 3.75em;
    color: white;
}

.sub-title {
    margin-bottom: -0.75em;
    padding-top: 0.5em;
    font-size: 2.25em;
    border-top: 2.5px white solid;
    color: #ccc;
}

.greeting-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2.5em;
    text-decoration: none;
}

.greeting-button div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5em;
    width: 20em;
    background-color: #4051ff;
    border-radius: 10px;
}

.greeting-button div:hover {
    background-color: #131d7d;
    transition: 0.2s;
}

.greeting-button p {
    font-size: 1.5em;
    font-weight: bold;
    color: white;
}
