#media {
    height: 100vh;
    width: 100%;
    top: 0;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.intro-title {
    margin-top: 6em;
    text-align: center;
    font-size: 2em;
    color: #131d7d;
}

.intro-subtitle {
    margin-top: -0.25em;
    margin-bottom: 1em;
    text-align: center;
    font-size: 3em;
    color: black;
}

.blue {
    color: #3252ff;
}

.media-bg {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100vw;
    filter: brightness(0.7);
}

.full-bright {
    filter: brightness(1);
}

.media-container {
    position: absolute;
    margin-top: 3em;
}

.margin-top {
    margin: 5em;
}

.media-title {
    font-size: 4em;
    color: white;
}

.media-subtitle {
    margin-top: -1em;
    font-size: 1.75em;
    color: #a0a0a0;
}

#black {
    color: black;
}

.media-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2.5em;
    text-decoration: none;
}

.media-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5em;
    width: 20em;
    background-color: #d80000;
    border-radius: 10px;
}

.media-button:hover {
    background-color: #7e1e1e;
    transition: 0.2s;
}

.wide-width {
    width: 28.5em;
}

.wide-width p {
    margin-left: 0.5em;
}

.media-button p {
    font-size: 1.5em;
    font-weight: bold;
    color: white;
}

.video-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.video-container img {
    margin: 2em;
    height: 15em;
    width: auto;
}

.video-container a {
    text-decoration: none;
}

.video-container p {
    margin-top: -0.5em;
    font-size: 1.75em;
    font-weight: bold;
    color: white;
}

.blank {
    margin: 3em;
}
