#media {
    height: 100vh;
    width: 100%;
    top: 0;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.media-bg {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    filter: brightness(0.7);
}

.media-container {
    position: absolute;
    margin-top: 3em;
}

.media-title {
    font-size: 4em;
    color: white;
}

.media-subtitle {
    margin-top: -1em;
    font-size: 1.75em;
    color: #a0a0a0;
}

.media-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2.5em;
    text-decoration: none;
}

.media-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5em;
    width: 20em;
    background-color: #d80000;
    border-radius: 10px;
}

.media-button p {
    font-size: 1.5em;
    font-weight: bold;
    color: white;
}

.video-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3em;
}

.video-container img {
    margin: 2em;
    height: 15em;
    width: auto;
}

.video-container a {
    text-decoration: none;
}

.video-container p {
    margin-top: -0.5em;
    font-size: 2em;
    font-weight: bold;
    color: white;
}
