#page {
    overflow-x: hidden;
}

#intro {
    height: 100vh;
    width: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow-x: hidden;
}

.speciality-bg {
    height: auto;
    width: 100vw;
    filter: brightness(0.8);
}

.speciality-container {
    position: absolute;
    margin-top: 10em;
}

.speciality-title {
    margin-top: 3em;
    text-align: center;
    font-size: 2em;
    color: #a0a0a0;
}

.speciality-subtitle {
    margin-top: -0.25em;
    text-align: center;
    font-size: 3.5em;
    color: white;
}

.margin {
    margin: 2.5em;
}

.margin2 {
    margin: 15em;
}

.greeting-title {
    margin: 1em;
    margin-top: -3em;
    padding-bottom: 0.25em;
    text-align: center;
    font-size: 2.75em;
    font-weight: normal;
    color: #141d7d;
    border-bottom: 2px #bdc0dc solid;
}

.greeting-subtitle {
    margin: 2em;
    margin-top: -0.5em;
    text-align: center;
    font-size: 1.8em;
    font-weight: normal;
    line-height: 1.6;
    color: #141d7d;
}

.small {
    margin: 3em;
    margin-top: -2.5em;
    text-align: center;
    font-size: 1.25em;
    font-weight: normal;
    color: #141d7d;
}

.greeting-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.greeting-container img {
    height: 37.5em;
    width: auto;
}

.greeting-container p {
    margin-left: 2em;
    text-align: left;
    font-size: 1.75em;
    color: black;
}

.greeting-container div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.greeting-container h2 {
    margin-top: 2.5em;
    margin-left: -10em;
    font-size: 1em;
    font-weight: normal;
}

.greeting-container h1 {
    margin-top: 1em;
    margin-left: 0.25em;
    font-size: 1.75em;
}

#point {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.point-bg {
    margin-top: 5em;
    height: auto;
    width: 100vw;
}

.point-container {
    position: absolute;
}

.point-title {
    margin-top: 4em;
    text-align: center;
    font-size: 3em;
    color: white;
}

.point-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.point-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em;
    margin-top: -0.5em;
}

.point-element img {
    height: 20em;
    width: auto;
}

.point-element h4 {
    margin-top: 0.1em;
    font-size: 1.5em;
    font-weight: normal;
    color: white;
}

.point-element h3 {
    margin-top: -0.75em;
    font-size: 2em;
    color: white;
}

.blue {
    color: #141d7d;
}

.system-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5em;
}

.system-container h3 {
    margin: 0;
    text-align: center;
    font-size: 5em;
    color: #4051ff;
}

.system-container h4 {
    margin-top: 0.5em;
    text-align: center;
    font-size: 3em;
    color: black;
}

.blue {
    color: blue;
}

.system-container img {
    height: 40em;
    width: auto;
}

.feedback-title {
    margin-top: 3em;
    text-align: center;
    font-size: 3em;
    color: black;
}

.feedback-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 12.5em;
    text-decoration: none;
}

.feedback-button div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5em;
    width: 20em;
    background-color: #4051ff;
    border-radius: 10px;
}

.feedback-button div:hover {
    background-color: #131d7d;
    transition: 0.2s;
}

.feedback-button p {
    font-size: 1.5em;
    font-weight: bold;
    color: white;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -6em;
}

.card-container {
    margin: 1.5em;
    margin-top: 8.5em;
    margin-bottom: -6em;
    height: auto;
    width: 26em;
    background-color: white;
    box-shadow: 5px 5px 5px 5px #a0a0a0;
}

.nova-logo {
    margin-left: 3em;
    margin-top: -1.5em;
    height: 50px;
    width: auto;
}

.card-subtitle {
    margin: 1.25em;
    color: #a0a0a0;
}

.card-title {
    margin: 1em;
    margin-top: -0.75em;
    margin-left: 1em;
    font-size: 1.4em;
    color: #131518;
}

.card-text {
    margin: 1em;
    margin-left: 1.25em;
    text-align: left;
    font-size: 1.15em;
    line-height: 1.6em;
    color: #6e7083;
}

.card-bottom {
    display: flex;
    flex-direction: row;
    margin: 1em;
    margin-left: 1.5em;
}

.card-bottom p {
    margin-right: 1em;
    font-size: 1em;
    font-weight: bold;
    color: #6b6b6b;
}

#consult {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 8em;
    margin-bottom: 5em;
}

.consult-bg {
    height: 40em;
    width: 122em;
    filter: brightness(0.8);
}

.consult-container {
    position: absolute;
}

.consult-title {
    text-align: center;
    font-size: 1.75em;
    color: #a0a0a0;
}

.consult-subtitle {
    text-align: center;
    margin-top: -0.1em;
    font-size: 3em;
    line-height: 1.4;
    color: white;
}

.consult-buttons {
    display: flex;
    justify-content: center;
    margin-left: -2.5em;
}

.consult-buttons a {
    text-decoration: none;
}

.consult-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
    height: 6em;
    width: 25em;
    background-color: #4051ff;
    border-radius: 10px;
}

.consult-button:hover {
    background-color: #131d7d;
    transition: 0.2s;
}

.consult-button p {
    font-size: 1.75em;
    font-weight: bold;
    color: white;
}

.consult-button img {
    margin-left: 0.75em;
    height: 4em;
    width: auto;
}
