#intro {
    height: 100vh;
    width: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow-x: hidden;
}

.works-bg {
    height: 40em;
    width: 100vw;
    filter: brightness(0.8);
}

.works-container {
    position: absolute;
    margin-top: 10em;
}

.works-title {
    margin-top: 3em;
    text-align: center;
    font-size: 2em;
    color: #a0a0a0;
}

.works-subtitle {
    margin-top: -0.25em;
    text-align: center;
    font-size: 3.5em;
    color: #a0a0a0;
}

.white {
    color: white;
}

#works {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.work-title {
    margin: 1em;
    margin-top: -3em;
    padding-left: 12em;
    padding-right: 12em;
    padding-bottom: 0.25em;
    font-size: 2.75em;
    color: #141d7d;
    border-bottom: 2px #bdc0dc solid;
}

.card-container {
    display: flex;
    flex-direction: row;
    margin: 1.25em;
    height: 15em;
    width: 80em;
    background-color: #f9f9f9;
}

.card-container img {
    margin: 2em;
    margin-top: 3.5em;
    margin-left: 3em;
    margin-right: 4em;
    height: 8em;
    width: auto;
}

.card-title {
    margin-top: 1em;
    font-size: 3em;
    font-weight: bold;
    color: #626262;
}

.card-subtitle {
    margin-top: 0.25em;
    font-size: 1.5em;
    color: #626262;
}

.margin {
    margin: 2.5em;
}
