#works {
    height: 100vh;
    width: 100%;
    top: 0;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.works-bg {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 55em;
    height: 100vh;
    width: 100vw;
    filter: brightness(1);
}

.works-component {
    position: absolute;
    margin-top: -15em;
}

.works-title {
    text-align: center;
    margin-top: 5em;
    font-size: 5em;
    color: #131d7d;
}

.works-subtitle {
    text-align: center;
    margin-top: -1.5em;
    font-size: 2em;
    color: gray;
}

.works-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2.5em;
    text-decoration: none;
}

.works-button div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5em;
    width: 20em;
    background-color: #4051ff;
    border-radius: 10px;
}

.works-button div:hover {
    background-color: #131d7d;
    transition: 0.2s;
}

.works-button p {
    font-size: 1.5em;
    font-weight: bold;
    color: white;
}

.container {
    display: flex;
    flex-direction: row;
    margin-top: 7.5em;
}

.card-container {
    margin: 2em;
    height: 20em;
    width: 27.5em;
    background-color: #141528;
    border: 5px solid white;
}

.card-container2 {
    margin: 2em;
    margin-top: -1.5em;
    height: 20em;
    width: 43.5em;
    background-color: #141528;
    border: 5px solid white;
}

.card-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: space-between;
    margin-top: -2.5em;
    height: 11em;
    width: auto;
}

.card-title {
    margin-top: 0.5em;
    text-align: center;
    font-size: 2.25em;
    font-weight: bold;
    color: white;
}

.card-text {
    margin-top: 0.25em;
    text-align: center;
    font-size: 1.25em;
    color: #acaec2;
}
